@model FaqModel

@using Nop.Web.Areas.Admin.Models.FAQs

@{
    ViewBag.PageTitle = T("Admin.ContentManagement.FAQ.Create").Text;
    NopHtml.SetActiveMenuItemSystemName("Faqs");
}

<form asp-controller="Faq" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.ContentManagement.FAQ.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.TopicDetailsButtons, additionalData = Model })
        </div>
    </div>
     <section class="content">
            <div class="container-fluid">
                <div class="form-horizontal">
                    <div class="cards-group">
                        @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.ForumGroupDetailsTop, additionalData = Model })
                        <div class="card card-default">
                            <div class="card-body">
                                @await Html.PartialAsync("_CreateOrUpdateFaqCategory", Model)
                                @await Html.PartialAsync("_CreateOrUpdate", Model)
                            </div>
                        </div>
                        @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.ForumGroupDetailsBottom, additionalData = Model })
                    </div>
                </div>
            </div>
        </section>
</form>
