@model ConfigurationModel

@using Nop.Plugin.ProductProvider.Infigo.Models

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="ProductProviderInfigo" asp-action="Configure" method="post">
    
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <p>
                    1. Insert the external api url to sync all provider's products.
                </p>
                <div class="form-group row">
                    <div class="col-md-1">
                        <p class="font-weight-bold">External Api Url</p>
                    </div>
                    <div class="col-md-11">
                        <input name="ExternalApiUrl" type="text" value="@Model.ExternalApiUrl" asp-for="ExternalApiUrl" placeholder="Insert Api Url" class="form-control">
                                                <nop-label asp-for="ExternalApiUrl"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-11 offset-md-1">
                        <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>