@using Nop.Web.Models.FAQs
@model FaqModel

@{
        Layout = "_ColumnsOne";
}

<div>
    <div class="page-title">
        <h1>Frequently Asked Questions</h1>
    </div>
    <div class="faq-category-header">
            <h1>FAQ @Model.CategoryName</h1>
        </div>
    <div>
        @await Component.InvokeAsync(typeof(FaqViewComponent), 0)
    </div>
</div>
    