@model ProductModel

<div class="card-body">
    @if (Model.Id > 0)
    {
        @await Html.PartialAsync("_CreateOrUpdate.Faq.Info", Model)
    }
    else
        {
            <div class="card card-default">
                <div class="card-body">
                    @T("Admin.ContentManagement.FAQ.SaveBeforeEdit")
                </div>
            </div>
        }  
</div>